# Bonus: Temperature Analysis I

In [12]:
import pandas as pd
from datetime import datetime as dt

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [15]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [18]:
# View Dataframe Head
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [19]:
# View Dataframe Tail
df.tail()

                station  prcp  tobs
date
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

### Compare June and December data across all years

In [20]:
from scipy import stats

In [21]:
# Filter data for desired months
jun_df = df[df.index.month == 6]
dec_df = df[df.index.month == 12]

In [25]:
# Identify the average temperature for June
jun_df['tobs'].mean()

74.94411764705882

In [26]:
# Identify the average temperature for December
dec_df['tobs'].mean()

71.04152933421226

In [40]:
# Create collections of temperature data
jun_temp_data = jun_df.tobs
dec_temp_data = dec_df.tobs
print(len(jun_temp_data))
print(len(dec_temp_data))

1700
1517

In [41]:
# Make arrays for each data set equal by using sample function
jun_temp_data_sample = jun_temp_data.sample(n = 1500)
dec_temp_data_sample = jun_temp_data.sample(n = 1500)

In [42]:
# Run paired t-test
stats.ttest_rel(jun_temp_data_sample, dec_temp_data_sample)

Ttest_relResult(statistic=0.2699205509043611, pvalue=0.7872585297491519)

### Analysis

Null— Whether the month of the year is June or December has no effect on max temp.
Alternative— Whether the month of the year is June or December has an effect on max temp.

A t-test is a type of inferential statistic used to determine if there is a significant difference between the means of two groups, which may be related in certain features.

A paired t-test is designed to compare the means of the same group or item under two separate scenarios. An unpaired t-test compares the means of two independent or unrelated groups. 

We used the paired t-test because the two groups of data are from the same group under two separate scenarios: we are looking at the same temperature data for the same geographical area across different time frames (June v. Dec).

If we observe a large p-value, for example greater than 0.05 or 0.1, then we cannot reject the null hypothesis that the month of the year has no effect on max temp.

A pvalue of 0.78 is high, so the evidence is not strong enough to reject the null hypothesis. This is unsurprising, the mean temperature in Hawaii in December v. June differ by 3.9 degrees Fahrenheit. So, the month of the year is statistically important in influencing the max temperature.

The t-value measures the size of the difference relative to the variation in your sample data. Put another way, T is simply the calculated difference represented in units of standard error. The greater the magnitude of T, the greater the evidence against the null hypothesis.

Since the t-statistic is low, less evidence against the null hypothesis exists. As such, we cannot reject the null hypothesis, meaning that alternative hypothesis, whether it is June or December, has a statistically significant effect on max temperature.